<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\BackendLog\nlog-internal.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"></add>
  </extensions>
	
  <targets async="true">

    <!--
	<target name="elastic"
            xsi:type="ElasticSearch"
			uri="http://localhost:9200"
			requireAuth="true"
			username="myUserName"
			password="coolpassword"
            index="net-core-sample-project">
	-->
	  <target name="elastic"
						xsi:type="ElasticSearch"
						uri="http://localhost:9200"
						index="netcoreproject-backend">
			<field name="level" layout="${level}" />
			<field name="request-ip" layout="${aspnet-request-ip}" />
			<field name="correlation-guid" layout="${aspnet-request-headers:HeaderNames=CorrelationGuid:ValuesOnly=true}" />
			<field name="controller" layout="${aspnet-mvc-controller}" />
			<field name="action" layout="${aspnet-mvc-action}" />
			<field name="logger" layout="${logger}" />
			<field name="message" layout="${message}" />
			<field name="exception" layout="${exception}" />
    </target> 

  </targets>

  <rules>

	<logger name="*" levels="Debug,Info,Warn,Error" writeTo="elastic" />

  </rules>

</nlog>