<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\BackendLog\nlog-internal.txt">

	<extensions>
		<add assembly="NLog.Targets.Seq" />
	</extensions>

	<targets async="true">

		<!--<target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="I6NUBSLbdS3NkcZkM4Lu">-->
		<!--<target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341">-->
		<!--<target name="seq" xsi:type="Seq" serverUrl="https://localhost:5342" apiKey="I6NUBSLbdS3NkcZkM4Lu">-->
		<target name="seq" xsi:type="Seq" serverUrl="https://localhost:5342">
			<property name="app" value="netcoreproject-backend" as="string" />
			<property name="level" value="${level}" as="string" />
			<property name="request-ip" value="${aspnet-request-ip}" as="string" />
			<property name="correlation-guid" value="${aspnet-request-headers:HeaderNames=CorrelationGuid:ValuesOnly=true}" as="string" />
			<property name="controller" value="${aspnet-mvc-controller}" as="string" />
			<property name="action" value="${aspnet-mvc-action}" as="string" />
			<property name="logger" value="${logger}" as="string" />
			<property name="message" value="${message}" as="string" />
			<property name="exception" value="${exception}" as="string" />
		</target>

	</targets>

	<rules>

		<logger name="*" levels="Debug,Info,Warn,Error" writeTo="seq" />

	</rules>

</nlog>