<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\BackendLog\nlog-internal.txt">

	<variable name="DefaultPath" value="d:\WorkSpace\NetCoreProject\BackendLog"/>
	<variable name="DefaultName" value="${aspnet-mvc-controller}.${aspnet-mvc-action}"/>
	<variable name="DefaultLayout" value="[${longdate}][${level}][${aspnet-request-ip}][${aspnet-request-headers:HeaderNames=CorrelationGuid:ValuesOnly=true}][${logger}] ${message} ${exception}"/>

	<targets async="true">

		<target xsi:type="File" name="info"
            fileName="${DefaultPath}\info\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\info\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="warn"
            fileName="${DefaultPath}\warn\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\warn\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="error"
            fileName="${DefaultPath}\error\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\error\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="whole"
            fileName="${DefaultPath}\whole\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\whole\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="Console" name="console"
            layout="${DefaultLayout}" />

		<!-- ${date:format=yyyy-MM-dd} -->

	</targets>

	<rules>

		<logger name="*" levels="Info" writeTo="info" />
		<logger name="*" levels="Warn" writeTo="warn" />
		<logger name="*" levels="Error" writeTo="error" />

		<logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="console, whole" />

	</rules>

</nlog>