<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\BatchLog\nlog-internal.txt">

	<variable name="DefaultPath" value="d:\WorkSpace\NetCoreProject\BatchLog"/>
	<variable name="DefaultName" value="${environment:NETOCRESAMPLEPROJECT_BATCH_PROID}.${environment:NETOCRESAMPLEPROJECT_BATCH_SEQNO}" />
	<variable name="DefaultLayout" value="[${longdate}][${level}][${logger}] ${message} ${exception}"/>

	<targets>

		<target xsi:type="File" name="info"
            fileName="${DefaultPath}\info\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\info\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="warn"
            fileName="${DefaultPath}\warn\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\warn\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="error"
            fileName="${DefaultPath}\error\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\error\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

		<target xsi:type="File" name="whole"
            fileName="${DefaultPath}\whole\${DefaultName}.log"
            encoding="utf-8"
            archiveFileName="${DefaultPath}\whole\${DefaultName}.{#####}.txt"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            layout="${DefaultLayout}" />

	</targets>

	<rules>

		<logger name="*" levels="Info" writeTo="info" />
		<logger name="*" levels="Warn" writeTo="warn" />
		<logger name="*" levels="Error" writeTo="error" />
		<logger name="*" levels="Debug,Info,Warn,Error" writeTo="whole" />

	</rules>
</nlog>