<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\BatchLog\nlog-internal.txt">

	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"></add>
	</extensions>

	<targets async="true">

		<!--
	<target name="elastic"
            xsi:type="ElasticSearch"
			uri="http://localhost:9200"
			requireAuth="true"
			username="myUserName"
			password="coolpassword"
            index="net-core-sample-project">
	-->
		<target name="elastic"
						xsi:type="ElasticSearch"
						uri="http://localhost:9200"
						index="netcoreproject-batch">
			<field name="level" layout="${level}" />
			<field name="batch-proid" layout="${environment:NETOCRESAMPLEPROJECT_BATCH_PROID}" />
			<field name="batch-seqno" layout="${environment:NETOCRESAMPLEPROJECT_BATCH_SEQNO}" />
			<field name="logger" layout="${logger}" />
			<field name="message" layout="${message}" />
			<field name="exception" layout="${exception}" />
		</target>

	</targets>

	<rules>

		<logger name="*" levels="Debug,Info,Warn,Error" writeTo="elastic" />

	</rules>

</nlog>