<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Off"
  internalLogFile="d:\WorkSpace\NetCoreProject\NUnitLog\nlog-internal.txt">
    
  <variable name="DefaultPath" value="d:\WorkSpace\NetCoreProject\NUnitLog"/>
  <variable name="DefaultName" value="${environment:SAMPLEPROJECT_TESTID}" />
  <variable name="DefaultLayout" value="[${longdate}][${level}][${logger}] ${message} ${exception}"/>

  <targets>
      
    <target xsi:type="File" name="whole"
            fileName="${DefaultPath}\${DefaultName}.log"
            encoding="utf-8"
            layout="${DefaultLayout}" />
      
    <target xsi:type="Console" name="console"
            layout="${DefaultLayout}" />
      
  </targets>
    
  <rules>
      
    <logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="console, whole" />
      
  </rules>
</nlog>